.test{
  text-align: center;
  width: 75%;
  margin-left: 12%;
}
.body-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.itemList{
  border: 5px solid #f7b058;
  padding: 5px;
  margin: 10px;
  background-color: #ffc15e;
  border-radius: 10px;
}
.select-match{
  padding: 10px;
  margin: 10px;
}
.selected-section{
  border: 5px solid #f7b058;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #ffc15e;
  border-radius: 10px;
}
.matches-section{
  border: 5px solid #f7b058;
  padding: 10px;
  background-color: #ffc15e;
  border-radius: 10px;
}

.addItemForm{
  border: 5px solid #f7b058;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #ffc15e;
  width: 26%;
  margin-left: 36%;
}
.closet-container{
  height: 600px;
}
.closet-content{
  height: 590px;
  overflow: auto;
}
.newItemButton{
  margin-top: 40px;
}
.match-container{
  height: 360px;
}
.match-content{
  height: 300px;
  overflow: auto;
}
.header{
  text-align: center;
  text-decoration: none;
}
.basic-text{
  text-decoration: none;
  color: #ffc15e;
  text-shadow: 2px 2px rgb(0, 0, 0, .6);
  font-size: 26pt;
}
.basic-text:hover{
  text-decoration: none;
  color: #ffffff;
  text-shadow: 2px 2px rgb(255, 255, 255, .6);
  font-size: 26pt;
}

h1{
  margin-top: 2px;
  margin-bottom: 2px;
}
h4{
  margin-bottom: 1px;
  margin-top: 3px;
}
.item p{
  margin-top: 2px;
}
.item{
  border-bottom: 3px solid #f7b058;

}
body{
  background-color: lightblue;
  margin-top: 4px;
}
img{
  border-radius: 5px;
  height: 100px;
  width: 100px;
}
.img-special{
  border-radius: 5px;
  height: 200px;
  width: 200px;
  border: 3px solid white;
}
img:hover{
  border-radius: 5px;
  height: 200px;
  width: 200px;
  transition: 1s;
  border: 3px solid white;
}
.text-input{
  width: 100%;
  height: 20px;
  font-size: 17px;
  border-radius: 5px;
  border: 2px darkgrey solid;
}
select{
  margin-bottom: 5px;
}
